@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}